body {
  margin-top: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  background: url(../img/big_fon.png);
  background-size: cover;
  height: 560px;
}

.carousel-item {
  min-height: 400px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__ink {
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  margin-left: 35px;
}

.crl__btn {
  font-size: 17px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans";
  text-align: center;
  width: 152px;
  height: 49px;
  border-radius: 5px;
  margin-top: 53px;
  background-color: #709dca;
  border: none;
  text-transform: uppercase;
}

.offer {
  margin-top: 100px;
}

.theme {
  font-size: 26px;
  color: #709dca;
  font-weight: 700;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 190px;
  text-transform: uppercase;
}

.text {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  color: #394b50;
  font-family: "Open Sans", sans-serif;
}

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hiden {
  display: flex;
  margin-top: 85px;
  margin-left: 48px;
}

.tools {
  display: flex;
  max-width: 100%;
}

.icons {
  padding-right: 12px;
  height: 25px;
  width: 38px;
}

.offer_icon {
  font-size: 16px;
  color: #394b50;
  font-family: "Lato", sans-serif;
}

.idea {
  max-width: 477px;
  font-size: 13px;
  color: #7b7b7b;
  font-family: "Open Sans", sans-serif;
}

.hero {
  display: flex;
}

.are {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.list {
  width: 100%;
  vertical-align: middle;
}

.one {
  width: 100%;
  background: center, center;
  background-size: cover;
  min-height: 100%;
}

.title {
  background-color: #ffc155;
  max-height: 625px;
  vertical-align: middle;
}

.title__theme {
  font-size: 26px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  margin-left: 65px;
  padding-top: 40px;
  font-weight: 700;
}

.title__text {
  max-width: 450px;
  min-height: 117px;
  font-size: 10px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  margin-left: 65px;
}

.title__info {
  max-width: 450px;
  min-height: 89px;
  font-size: 10px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  margin-left: 65px;
}

.title__btn {
  width: 145px;
  height: 46px;
  border-radius: 2px;
  background-color: rgba(231, 173, 72, 0);
  border: 1px solid #cb8d21;
  margin-left: 65px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.our__work {
  min-height: 250px;
}

.work__theme {
  font-size: 26px;
  color: #709dca;
  font-weight: 700;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 110px;
  text-transform: uppercase;
}

.icon {
  display: block;
  margin: auto;
}

.work__text {
  max-width: 970px;
  font-size: 16px;
  line-height: 23px;
  color: #062033;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  margin: 40px auto;
}

.portfolio {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 15px;
}

.fill {
  height: 67px;
  font-size: 15px;
  color: #062033;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
}

.sidbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sidbar__img:hover {
  background: #ffc155;
}

.sidbar__img {
  width: 100%;
  vertical-align: middle;
  background-size: cover;
}

.registration {
  min-height: 500px;
}

.reg__theme {
  font-size: 26px;
  color: #709dca;
  font-weight: 700;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 85px;
  text-transform: uppercase;
}

.reg__img {
  display: block;
  margin: auto;
  margin-top: 25px;
}

.here {
  display: flex;
  margin: 0 auto;
  margin-top: 90px;
}

.reg__title1 {
  max-width: 452px;
  height: 150px;
  display: block;
  background-color: #f6f3f3;
  margin: auto;
}

.reg__title2 {
  max-width: 452px;
  height: 150px;
  display: block;
  background-color: #f6f3f3;
  margin: auto;
}

.reg__text {
  font-size: 13px;
  line-height: 23px;
  color: #747474;
  font-weight: 800;
  font-style: italic;
  font-family: "Open Sans";
}

.reg__foto2 {
  margin-left: 26px;
  width: 44px;
}

.reg__info {
  display: flex;
  align-items: baseline;
}

.reg__name {
  font-size: 17px;
  line-height: 20px;
  color: #4d4e50;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
}

.reg__company {
  font-size: 13px;
}

.reg__touch {
  display: block;
  margin: auto;
  margin-top: 124px;
}

.email {
  min-height: 350px;
  background-color: #273a43;
}

.email__block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px 60px 60px 60px;
}

.name__theme {
  font-size: 22px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Pacifico", cursive;
}

.name__text {
  margin-top: 17px;
  max-width: 270px;
  min-height: 155px;
  font-size: 14px;
  line-height: 20px;
  color: #c3c3c3;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.contact {
  padding-left: 10px;
}

.contact__theme {
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
}

.contact__text {
  margin-top: 17px;
  max-width: 265px;
  min-height: 70px;
  font-size: 14px;
  line-height: 20px;
  color: #c4c4c4;
  font-weight: 400;
  font-family: "Open Sans";
}

.geo {
  display: flex;
  align-items: baseline;
}

.geo__text {
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  padding-left: 14px;
}

.geo__img {
  height: 18px;
}

.geo__foto {
  height: 15px;
}

.tweets {
  padding-left: 12px;
}

.tweets__theme {
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
}

.tweets__icon {
  display: flex;
  margin-top: 17px;
}

.tweets__img {
  height: 15px;
}

.tweets__text {
  max-width: 248px;
  min-height: 70px;
  font-size: 14px;
  line-height: 20px;
  color: #c4c4c4;
  font-weight: 400;
  font-family: "Open Sans";
  margin: 0;
}

.span {
  font-size: 14px;
  line-height: 20px;
  color: #71b6d5;
  font-weight: 400;
  font-family: "Open Sans";
}

.news {
  padding-left: 15px;
}

.news__theme {
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
}

.news__text {
  margin-top: 17px;
  max-width: 267px;
  min-height: 70px;
  font-size: 14px;
  line-height: 20px;
  color: #c4c4c4;
  font-weight: 400;
  font-family: "Open Sans";
}

.search__btn {
  display: flex;
}

.search__email {
  max-width: 226px;
  min-height: 35px;
  background-color: #172227;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 17px;
  color: #ffffff;
}

.search__button {
  border: none;
  font-size: 14px;
  max-width: 70px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  background-color: #71b6d5;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.the__end {
  background-color: #172227;
  min-height: 90px;
}

.the__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  max-width: 1130px;
  text-align: center;
  padding-left: 60px;
}

.the__text {
  font-size: 14px;
  line-height: 18px;
  color: #c4c4c4;
  font-weight: 400;
  font-family: "Open Sans";
}

.icon__end {
  display: flex;
}

.the__img {
  padding-left: 8px;
}

.carousel-control-next-icon {
  border: 3px solid #709dc9;
  border-radius: 30px;
  color: #ffc155;
}

.carousel-control-prev-icon {
  border: 3px solid #709dc9;
  border-radius: 30px;
  color: #ffc155;
}

@media screen and (max-width: 992px) {
  .nav__ink {
    display: block;
  }
}
@media screen and (max-width: 566px) {
  .hiden {
    max-width: 324px;
    margin-left: 0;
  }
}
@media screen and (max-width: 992px) {
  .are {
    display: block;
    margin: 0;
  }
}
@media screen and (max-width: 460px) {
  .title__btn {
    margin-top: 35px;
  }
}
@media screen and (max-width: 460px) {
  .title {
    margin-left: 0;
  }
}
@media screen and (max-width: 992px) {
  .sidbar {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 992px) {
  .here {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .reg__title2 {
    margin-top: 95px;
  }
}
@media screen and (max-width: 410px) {
  .reg__text {
    font-size: 11px;
  }
}
@media screen and (max-width: 1070px) {
  .email__block {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 940px) {
  .email__block {
    grid-template-columns: repeat(2, 1fr);
  }

  .tweets.news {
    margin-top: 25px;
  }
}
@media screen and (max-width: 740px) {
  .email__block {
    grid-template-columns: repeat(1, 1fr);
  }

  .news {
    padding-top: 20px;
  }
}
@media screen and (max-width: 380px) {
  .email__block {
    padding: 0;
  }
}
@media screen and (max-width: 1150px) {
  .title {
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 380px) {
  .email {
    padding-top: 15px;
    padding-left: 35px;
  }
}
@media screen and (max-width: 1196px) {
  .the__title {
    padding-right: 60px;
  }
}
@media screen and (max-width: 490px) {
  .the__title {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 740px) {
  .email__block {
    padding-top: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
