body {
  margin-top: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  background: url(../img/big_fon.png);
  background-size: cover;
  height: 560px;
}

.carousel-item {
  min-height: 400px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__ink {
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  margin-left: 35px;
}

.offer {
  margin-top: 100px;
}

.theme {
  font-size: 26px;
  color: #709dca;
  font-weight: 700;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 190px;
  text-transform: uppercase;
}

.text {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  color: #394b50;
  font-family: "Open Sans", sans-serif;
}

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hiden {
  display: flex;
  margin-top: 85px;
  margin-left: 48px;
}

.tools {
  display: flex;
  max-width: 100%;
}

.icons {
  padding-right: 12px;
  height: 25px;
  width: 38px;
}

.offer_icon {
  font-size: 16px;
  color: #394b50;
  font-family: "Lato", sans-serif;
}

.idea {
  max-width: 477px;
  font-size: 13px;
  color: #7b7b7b;
  font-family: "Open Sans", sans-serif;
}

.hero {
  display: flex;
}

.are {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.list {
  width: 100%;
  vertical-align: middle;
}

.one {
  width: 100%;
  background: center, center;
  background-size: cover;
}

.title {
  background-color: #ffc155;
  max-height: 625px;
  vertical-align: middle;
}

.title__theme {
  font-size: 26px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  margin-left: 65px;
  padding-top: 40px;
  font-weight: 700;
}

.title__text {
  max-width: 450px;
  height: 117px;
  font-size: 10px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  margin-left: 65px;
}

.title__info {
  max-width: 450px;
  height: 89px;
  font-size: 10px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  margin-left: 65px;
}

.title__btn {
  width: 145px;
  height: 46px;
  border-radius: 2px;
  background-color: rgba(231, 173, 72, 0);
  border: 1px solid #cb8d21;
  margin-left: 65px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.our__work {
  min-height: 340px;
}

.work__theme {
  font-size: 26px;
  color: #709dca;
  font-weight: 700;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 80px;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .nav__ink {
    display: block;
  }
}
@media screen and (max-width: 566px) {
  .hiden {
    max-width: 324px;
    margin-left: 0;
  }
}
@media screen and (max-width: 992px) {
  .are {
    display: block;
    margin: 0;
  }
}
@media screen and (max-width: 770px) {
  .title {
    text-align: center;
    margin: 0 auto;
  }

  .title__text {
    align-items: center;
  }

  .title__info {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
