




.are {
    // display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.list {
    // max-width: 750px;
    max-height: 620px;
}

.one {
    max-width: 632px;
    // max-height: 625px;
    background: center, center;
    background-size: cover;
}

// .one {
//     background: url(..//img/list.png);
// }

.title {
    background-color:  #ffc155;
    max-height: 625px;
}

.title__theme {
    font-size: 26px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-left: 65px;
    margin-top: 60px;
}

.title__text {
    max-width: 505px;
    height: 145px;
    font-size: 13px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    margin-left: 65px;
}

.title__info {
    max-width: 505px;
    height: 124px;
    font-size: 13px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    margin-left: 65px;
}

.btn {
    width: 145px;
    height: 46px;
    border-radius: 2px;
    background-color: rgba(231,173,72,0);
    border: 1px solid #cb8d21;
    margin-left: 65px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}