

.are {
    // display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.list {
    width: 100%;
    // min-height: 443px;
    vertical-align: middle;
}

.one {
    width: 100%;
    // max-height: 625px;
    background: center, center;
    background-size: cover;
}

// .one {
//     background: url(..//img/list.png);
// }

.title {
    background-color:  #ffc155;
    max-height: 625px;
    vertical-align: middle;
}

.title__theme {
    font-size: 26px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-left: 65px;
    padding-top: 40px;
    font-weight: 700;
}

.title__text {
    max-width: 450px;
    min-height: 117px;
    font-size: 10px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    margin-left: 65px;
}

.title__info {
    max-width: 450px;
    min-height: 89px;
    font-size: 10px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    margin-left: 65px;
}

.title__btn {
    width: 145px;
    height: 46px;
    border-radius: 2px;
    background-color: rgba(231, 173, 72, 0);
    border: 1px solid #cb8d21;
    margin-left: 65px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    
}


.our__work {
    min-height: 250px;
}

.work__theme {
    font-size: 26px;
    color: #709dca;
    font-weight: 700;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 110px;
    text-transform: uppercase;
}

.icon {
    display: block;
    margin: auto;
}

.work__text {
    max-width: 970px;
    font-size: 16px;
    line-height: 23px;
    color: #062033;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: 0 auto;
}

.portfolio {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 15px;
}

.fill {
    height: 67px;
    font-size: 15px;
    color: #062033;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
}

.sidbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // width: 100%;
}
.sidbar__img:hover {
    background: #ffc155;
}


.sidbar__img {
    width: 100%;
    vertical-align: middle;
    background-size: cover;
}

