@media screen and (max-width: 992px) {
    .nav__ink {
        display: block;
    }
}
@media screen and (max-width: 566px) {
    
    .hiden {
        max-width: 324px;
        margin-left: 0;
    }
}

// @media screen and (max-width: 1200px) 