@media screen and (max-width: 992px) {
    .nav__ink {
        display: block;
    }
}
@media screen and (max-width: 566px) {
    
    .hiden {
        max-width: 324px;
        margin-left: 0;
    }
}
@media screen and (max-width: 992px) {
    .are {
        display: block;
        margin: 0;
    }
}




@media screen and (max-width: 460px) {
    .title__btn {
        margin-top: 35px;
    }
}


// @media screen and (max-width: 770px) {
//     .title {
//         text-align: center;
//         margin: 0 auto;
//     }
//     .title__text {
//         align-items: center;
//     }
//     .title__info {
//         text-align: center;
//     }
// }

@media screen and (max-width: 460px) {
    .title {
        margin-left: 0;
    }
}

@media screen and (max-width: 992px) {
    .sidbar {
        // display: block;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .here {
        display: block;
    }

}

@media screen and (max-width: 992px) {
    .reg__title2 {
        margin-top: 95px;
    }
}


@media screen and (max-width: 410px) {
    .reg__text {
        font-size: 11px;
    }
}


@media screen and (max-width: 1070px) {
    .email__block {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 940px) {
    .email__block {
        grid-template-columns: repeat(2, 1fr);
        // align-items: center;
        // justify-content: center;
        padding-left: 115px;
    }

    .tweets.news {
        margin-top: 25px;
    }
}

@media screen and (max-width: 740px) {
    .email__block {
        // display: block;
        // text-align: center;
        // align-items: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .news {
        padding-top: 20px;
    }
}




@media screen and (max-width: 1150px) {
    .title {
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 440px) {
    .email__block {
        padding-left: 80px;
    }
}

@media screen and (max-width: 380px) {
    .email{
        padding-top: 15px;
        padding-left: 25px;
    }
}

@media screen and (max-width: 1196px) {
    .the__title {
        padding-right: 60px;
        
    }
}

@media screen and (max-width: 490px) {
    .the__title {
        padding-left: 0;
        padding-right: 0;
        
    }
}

@media screen and (max-width: 740px) {
    .email__block {
        padding-top: 25px;
    }
}

@media screen and (max-width: 380px) {
    .email__block {
        padding: 0;
    }
}

@media screen and (max-width: 520px) {
    .sidbar {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 380px) {
    .search__btn {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 540px) {
    .the__text {
        font-size: 12px;
    }
}

@media screen and (max-width: 440px) {
    .the__text {
        font-size: 10px;
    }
}