@media screen and (max-width: 992px) {
    .nav__ink {
        display: block;
    }
}
@media screen and (max-width: 566px) {
    
    .hiden {
        max-width: 324px;
        margin-left: 0;
    }
}
@media screen and (max-width: 992px) {
    .are {
        display: block;
        margin: 0;
    }
}

// @media screen and (max-width: 770px) {
//     .title {
//         text-align: center;
//         margin: 0 auto;
//     }
//     .title__text {
//         align-items: center;
//     }
//     .title__info {
//         text-align: center;
//     }
// }

@media screen and (max-width: 460px) {
    .title {
        margin-left: 0;
    }
}

@media screen and (max-width: 992px) {
    .sidbar {
        // display: block;
        grid-template-columns: repeat(2, 1fr);
    }
}