
.reg__theme {
    font-size: 26px;
    color: #709dca;
    font-weight: 700;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 110px;
    text-transform: uppercase;
}

.reg__img {
    
}

.here {
    display: flex;

}

.reg__title1 {
    width: 452px;
    height: 150px;
    background-color: #f6f3f3;
}

.reg__title2 {
    width: 452px;
    height: 150px;
    background-color: #f6f3f3;
}

.reg__text {
    width: 408px;
    height: 118px;
    font-size: 13px;
    line-height: 23px;
    color: #747474;
    font-weight: 800;
    font-style: italic;
    font-family: "Open Sans";
}
