
.reg__theme {
    font-size: 26px;
    color: #709dca;
    font-weight: 700;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 110px;
    text-transform: uppercase;
}

.reg__img {
    
}